.checkout-container{
  min-height:100vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  background:#0f172a;
  color:white;
  font-family:Inter, sans-serif;
}

.logo{
  width:140px;
  margin-bottom:10px;
}

.card{
  background:#111827;
  padding:30px;
  border-radius:14px;
  width:350px;
  box-shadow:0 20px 40px rgba(0,0,0,0.4);
}

.bank-box{
  background:#1f2937;
  padding:15px;
  border-radius:8px;
  margin:15px 0;
}

button{
 padding: 2px 4px;
  background: linear-gradient(170.04deg, #3912eaff -8.91%, #83c335ff 99.52%);
  color: #F9FBFD;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 14px rgba(184, 120, 72, 0.26);
  font-weight: 5000;
  position: relative; /* For pseudo-elements */
  overflow: hidden; /* For animations */
}

button:hover{
  opacity:0.9;
}

.paid-btn{
  background:#22c55e;
  color:white;
}

.timer{
  margin-top:12px;
  font-size:14px;
  color:#9ca3af;
}
.amount{
font-size:20px;
margin-bottom:10px;
}

.qr-box{
margin-top:15px;
text-align:center;
}

.copy-btn{
background:#3b82f6;
color:white;
}

.timeline{
display:flex;
justify-content:space-between;
margin-top:20px;
font-size:12px;
color:#9ca3af;
}

.step{
flex:1;
text-align:center;
}

.step.active{
color:#22c55e;
font-weight:bold;
}

.skeleton{
height:320px;
background:linear-gradient(90deg,#1f2937,#111827,#1f2937);
animation: shimmer 2s infinite;
}

@keyframes shimmer{
0%{background-position:-200px 0}
100%{background-position:200px 0}
}
